#logoposition {
  height: 90vh;
}

#riusLogo {
  width: 50%;
  margin-top: 5%;
  left: 25%;
  position: absolute;
  background-size: 100%;
  mix-blend-mode: normal;
}

.animation-area {
  width: 100%;
}

@media screen and (max-width: 850px) {
  #logoposition {
    height: 50vh;
  }
}
