#logoposition {
  height: 90vh;
}

#riusLogo {
  width: 50%;
  min-width: 200px;
  left: 25%;
  position: absolute;
  mix-blend-mode: normal;
}


@media screen and (min-width: 850px) {
  #logoposition {
    height: 45vh;
    min-width: 450px;
  }
}
