.enhet {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border: 2px 2px 2px solid gray;
}

.enheter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-top: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
  max-height: 300px;
}

.enhet>div {
  font-size: 20px;
  text-align: center;
  line-height: 90px;
}

.picture {
  height: 50px;
}
