body {
  background-color: green;
  min-height: 100vh;
}

#menu {
  display: flex;
  min-width: 60vw;
  justify-content: center;
  align-content: space-between;
}

#menu>li {
  display: flex;
  margin-right: 20px;
  min-width: 80px;
}


@media screen and (max-width: 880px) {
  #body {
    min-height: 50vh;
    background-color: red;
  }
}
