body {
  background-color: #E1E1E1;
}

.navbar {
  display: flex;
  margin: 2vh 10vw 0vh 10vw;
  height: 8vh;
  width: 80vw;
  justify-content: space-between;
  font-size: 2vw;
  line-height: 18px;
  color: #456F5F;
  list-style-type: none;
}

ul {
  margin: 0;
  width: 100%;
  padding: 0;
}

.navbar>div {
  display: flex;
  justify-content: space-between;
}

div>ul {
  margin: 10 10;
}


a {
  text-decoration: none;
  color: #456F5F;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2vw;
  line-height: 18px;
  /* identical to box height 
  border-radius: 94px;
  background: #E1E1E1;
  box-shadow: 29px 29px 64px #bfbfbf,
    -29px -29px 64px #ffffff;
    */
}

.active {
  text-decoration: underline;
}

@media screen and (max-width: 850px) {
  a {
    font-size: 4vw;
  }
}
