#projects>div {
  height: 30vh;
  margin-left: 20%;
  width: 30%;
  margin-bottom: 15vh;
  padding-left: 30%;
}

.projectImg {
  height: 150px;
  width: 150px;
  position: relative;
}

#image {
  margin-top: 1vh;
  position: absolute;
  left: 20%;
  right: auto;
  padding: 20px;
  background-color: #F0803C;
  border-radius: 10%;

}

div>div:nth-child(2n)>#image {
  right: 20%;
  left: auto;
}

#projects>div:nth-child(2n) {
  padding-left: 0;
  margin-right: 80%;

}
