#projects {
  margin-top: 5vh;
}

#projects>div {
  position: relative;
  margin-left: 40%;
  margin-bottom: 15vh;
  width: 36%;
  min-width: 200px;
  min-height: 35vh;
}

.projectImg {
  height: 150px;
  width: 150px;
  position: relative;
}

#image {
  margin-top: 1vh;
  margin-left: 10%;
  padding: 20px;
  background-color: #f0803c;
  border-radius: 10%;
  position: absolute;
}

#projects>div:nth-child(n)>#image {
  left: auto;
  right: 110%;
}

#projects>div:nth-child(2n)>#image {
  left: 110%;
  right: auto;
}

#projects>div:nth-child(2n) {
  margin-left: 22%;
  left: auto;
}


@media screen and (min-width:640px) and (-webkit-device-pixel-ratio: 3) {
  #projects>div {
    position: relative;
    width: 60%;
    min-width: 200px;
    margin-left: 20%;
    font-size: 40px;
    min-height: 5vh;
  }

  .projectImg {
    height: 250px;
    width: 250px;
    position: relative;

  }

  #image {
    margin-top: 1vh;
    margin-left: 45%;
    padding: 20px;
    background-color: #f0803c;
    border-radius: 10%;
    position: absolute;
  }

  #projects>div:nth-child(2n)>#image {
    top: -30%;
    right: auto;
    left: auto;
  }

  #projects>div:nth-child(2n) {
    margin-left: 20%;
  }


}
